/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #6E7085;
$My-Color-Theme-2-hex: #D1B9AE;
$My-Color-Theme-3-hex: #D1B6D0;
$My-Color-Theme-4-hex: #D1CAAE;
$My-Color-Theme-5-hex: #798575;
$My-Color-Theme-6-hex: #DEDFDE;

// Fonts
$FontPrimary: 'Nanum Gothic', sans-serif ;
$FontSecondary: 'Rubik', sans-serif;

// CSS Clear
*{
    margin: 0;
    padding: 0;
    color: $My-Color-Theme-1-hex;
    text-decoration: none;
    font-family: $FontPrimary;
    box-sizing: border-box;
    
}
// img{
//     width: 0;
// }

// Mobile View

.navbar{
    background: white;

    position: fixed;
    left: 0;
    top: 0;
  
    width: 100%;
    height: 4rem;
    z-index: 2;

    .logo{
        display: none;
    }

    .navLinks{
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a:nth-of-type(1){
        font-weight: bold;
    }
}



.hero{
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
    padding-top: 2rem;
    z-index: -1;
    overflow: hidden;

    background: url('/Hero\ Mobile\ Background.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;


    .heroImage img{
        width: 0;
    }
    .heroMobileImage{
        width: 90%;
        max-width: 340px;
        margin: 0;
        grid-area: 1/1/2/2;
        border-radius: 5px;

        align-self: center;
        justify-self: center;
   
    }
    .heroContent{
        grid-area:2/1/3/2 ;
        width: 100%;

        .heroTitle{
            text-align: center;
            font-size: 55px;
            font-weight: lighter;
            margin-top: 25px;
        }
        .heroSub{
            margin-top: 7px;

            font-size: 25px;
            text-align: center;
            font-weight: normal;

            letter-spacing: 1.2px;
        }
        .heroBio{
            visibility: hidden;
        }
    }
    .buttonCenter  {
        display: flex;
        height: 10em;
        justify-content: center;
        align-items: center;
        margin-top: 2.5em;
    }
    .contactButtonMobile{
        border:1px solid $My-Color-Theme-1-hex;
        background-color: white;
	display:inline-block;
	cursor:pointer;
	color:$My-Color-Theme-1-hex;
	font-family:Arial;
    font-size:25px;
    font-weight: bold;
	padding:17px 53px;
    text-decoration:none;
    text-align: center;
    transition: all .3s ease-in-out;
    
    &:hover{
        box-shadow: 1px 26px 53px -11px rgba(49,49,57,0.75);
        -webkit-box-shadow: 1px 26px 53px -11px rgba(49,49,57,0.75);
        -moz-box-shadow: 1px 26px 53px -11px rgba(49,49,57,0.75);
        transform: translateY(-5px);
    }
    }
    .desktopButton{
        display: none;
    }
}

.portfolio{
    width: 100%;
    height: 100vh;
    padding: calc(30px + 4rem) 0 0 0 ;
    z-index: 10;
    background-color:$My-Color-Theme-6-hex ;
    
   
    
            
    text-align: center;
    
    h3{
        font-weight: lighter;
        padding-bottom: 30px;
        font-size: 55px;
    }
    .cardSection{
        display: flex;
        flex-direction: column;
         align-items: center;
        justify-content: center;

        .card{
            width: 90%;
            max-width: 340px;
            height: 200px;
            margin-bottom: 30px;
            background:url("/Save the Waves/Krista Booker - Digitial Marketing Portfolio .png");
            background-size: cover;
            transition: 0.5s ease-in-out;

            a{
                display: flex;
                animation: slideshow 20s linear  infinite ;
                
            }
            
            
            .carousel{
                display: none;
            }
        }
        .card:hover{
            
            background:$My-Color-Theme-1-hex ;
            overflow: hidden;
            
                

        
            
            .carousel{

                height: 200px;
                display: flex ;
                align-items: center;
                


                img{
                    height: 180px;
                    margin: 10px;
                }

            }
        }
    }


    
}
.contact{
    width: 100%;
    height: 100vh;
    padding-top: calc(30px + 4rem);
   

    background-color: $My-Color-Theme-1-hex;

    h3{
        color: white;
        font-weight: lighter;
        padding-bottom: 30px;
        font-size: 55px;
        text-align: center;
    }
    
    .contactContent{
        


        p{
            color: white;
            text-align: right;
            margin-right: 5%;

            font-size: 22px;
            line-height: 2;
        }

        .descriptor{
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    }
}

.mobileHidden{
visibility: hidden;
display: none;

}

// Tablet View
@media(min-width:768px){
.navbar{

    .logo {
    display: inline-block;
    margin: 5px 0 0 10%;
    img{
        
        width: 50px;
        
    }
}
    .navLinks{
        width: 30%;
        float: right;
        margin-right: 10%;
    }
}

    .hero{
        padding: 0 10%;
       
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr;

       background: #f0f0f1;

       

       .heroContent{
           grid-area: 1/1/2/2;
           align-self: center; 


            .buttonCenter{
                height:auto ;
                justify-content: left;
                

                .desktopButton{
                    display: block;
                    z-index: 1;
                    transition: .1s ease-in-out .1s;
                    &:hover{
                        transform:scale(1.1) ;
                    }
                    &:hover .buttonBackground{
                        transform: translate(1px, -45px);
                        
                       
                    }

                    a {
                    font-size: 25px;
                    font-weight: bold;
                    border: 1px solid $My-Color-Theme-1-hex;
                    padding: 15px 25px;
                    
                    
                    
                    }
                    .buttonBackground{
                        background-color: white;
                        width: 187px;
                        height:60px ;
                        
                        position: absolute;
                        
                        transform: translate(20px,-25px);

                        z-index: -4;

                        transition:  .1s ease-in-out;


                    }

                }

            }


    
           .heroTitle, .heroSub{
            text-align: left;
           }

           .heroBio{
               visibility: visible;

               margin-top:60px ;
               font-size: 12px;
           }
       }

       .heroMobileImage , .contactButtonMobile{
           display: none;
       }

       .heroImage{ 
        grid-area: 1/2/2/2;
        align-self: center;
       
       img{
           width: 100%;
       }
    }
    }

    .portfolio{
        height:100vh;

        .cardSection{
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 10%;
            z-index: $My-Color-Theme-2-hex;
       
            }
        }
        .decTwo{
            
            z-index: -1;

            position: absolute;
            top: -50px;
            left: 0;
        }
    .contact{
            position: relative;
            padding: 0 10%;
    
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
    
        h3{
            color: white;
            font-weight: lighter;
            padding: calc(30px + 4rem) 0 30px 0;
            font-size: 55px;
            text-align: center;
    
            grid-area: 1/1/2/3;
        }
            .contactContent{
            grid-area: 1/1/2/2;
            align-self: center;
    
            }
            .decOne{       
                
                z-index: 0;
                
                position: absolute;
                top: -50px;
                right: 0;
            }
    
            .contactImage{
                
                grid-area: 1/2/2/2;
                align-self: center;
                z-index: 2;
    
                img{
                    max-width: 650px;
                    width: 100%;
                }
            }   
    }
    .mobileHidden{
        visibility: visible;
      display: block;
    }
    }







// Desktop View
@media(min-width:1020px){

.hero{
    .heroContent{

    .heroBio{
        font-size: 16px;
    }
}
}
}

@keyframes slideshow{
    0%{transform: translateX(0);}
    100%{transform: translateX(-400%);}
}