/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  color: #6E7085;
  text-decoration: none;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h4 {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.2px;
}

.navbar {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 2;
}

.navbar .logo {
  display: none;
}

.navbar .navLinks {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar a:nth-of-type(1) {
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 4rem;
  padding-top: 2rem;
  z-index: -1;
  overflow: hidden;
  background: url("/Hero Mobile Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.hero .heroImage img {
  width: 0;
}

.hero .heroMobileImage {
  width: 90%;
  max-width: 340px;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.hero .heroContent {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  width: 100%;
}

.hero .heroContent .heroTitle {
  text-align: center;
  font-size: 55px;
  font-weight: lighter;
  margin-top: 25px;
}

.hero .heroContent .heroSub {
  margin-top: 7px;
}

.hero .heroContent .heroBio {
  visibility: hidden;
}

.hero .buttonCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5em;
}

.hero .contactButtonMobile {
  border: 1px solid #6E7085;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: #6E7085;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 17px 53px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero .contactButtonMobile:hover {
  box-shadow: 1px 26px 53px -11px rgba(49, 49, 57, 0.75);
  -webkit-box-shadow: 1px 26px 53px -11px rgba(49, 49, 57, 0.75);
  -moz-box-shadow: 1px 26px 53px -11px rgba(49, 49, 57, 0.75);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero .desktopButton {
  display: none;
}

.portfolio {
  width: 100%;
  height: 100vh;
  padding: calc(30px + 4rem) 0 0 0;
  z-index: 10;
  background-color: #DEDFDE;
  text-align: center;
}

.portfolio h3 {
  font-weight: lighter;
  padding-bottom: 30px;
  font-size: 55px;
}

.portfolio .cardSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  width: 100%;
  height: 100vh;
  padding-top: calc(30px + 4rem);
  background-color: #6E7085;
}

.contact h3 {
  color: white;
  font-weight: lighter;
  padding-bottom: 30px;
  font-size: 55px;
  text-align: center;
}

.contact .contactContent p {
  color: white;
  text-align: right;
  margin-right: 5%;
  font-size: 22px;
  line-height: 2;
}

.contact .contactContent .descriptor {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.mobileHidden {
  visibility: hidden;
  display: none;
}

@media (min-width: 768px) {
  .navbar .logo {
    display: inline-block;
    margin: 5px 0 0 10%;
  }
  .navbar .logo img {
    width: 50px;
  }
  .navbar .navLinks {
    width: 30%;
    float: right;
    margin-right: 10%;
  }
  .hero {
    padding: 0 10%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    background: #f0f0f1;
  }
  .hero .heroContent {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero .heroContent .buttonCenter {
    height: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .hero .heroContent .buttonCenter .desktopButton {
    display: block;
    z-index: 1;
    -webkit-transition: .1s ease-in-out .1s;
    transition: .1s ease-in-out .1s;
  }
  .hero .heroContent .buttonCenter .desktopButton:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .hero .heroContent .buttonCenter .desktopButton:hover .buttonBackground {
    -webkit-transform: translate(1px, -45px);
            transform: translate(1px, -45px);
  }
  .hero .heroContent .buttonCenter .desktopButton a {
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #6E7085;
    padding: 15px 25px;
  }
  .hero .heroContent .buttonCenter .desktopButton .buttonBackground {
    background-color: white;
    width: 187px;
    height: 60px;
    position: absolute;
    -webkit-transform: translate(20px, -25px);
            transform: translate(20px, -25px);
    z-index: -4;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
  }
  .hero .heroContent .heroTitle, .hero .heroContent .heroSub {
    text-align: left;
  }
  .hero .heroContent .heroBio {
    visibility: visible;
    margin-top: 60px;
    font-size: 12px;
  }
  .hero .heroMobileImage, .hero .contactButtonMobile {
    display: none;
  }
  .hero .heroImage {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    grid-area: 1/2/2/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero .heroImage img {
    width: 100%;
  }
  .portfolio {
    height: 100vh;
  }
  .portfolio .cardSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 10%;
    z-index: #D1B9AE;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .portfolio .cardSection .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .cardSection .card .portfolio-text {
    background: white;
    width: 60%;
    margin: 20px 0;
  }
  .portfolio .cardSection .card .portfolio-text .card-title, .portfolio .cardSection .card .portfolio-text .card-info, .portfolio .cardSection .card .portfolio-text .card-call {
    text-align: left;
    padding-left: 10%;
  }
  .portfolio .cardSection .card .portfolio-text .card-title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .portfolio .cardSection .card .portfolio-text .card-info {
    padding-right: 10%;
  }
  .portfolio .cardSection .card .portfolio-text .card-call {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
  }
  .portfolio .cardSection .card .portfolio-text i {
    float: left;
    margin: 10px 10%;
  }
  .portfolio .cardSection .card .portfolio-image {
    width: 30%;
    height: auto;
  }
  .portfolio .cardSection .card .portfolio-image img {
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
  }
  .decTwo {
    z-index: -1;
    position: absolute;
    top: -50px;
    left: 0;
  }
  .contact {
    position: relative;
    padding: 0 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .contact h3 {
    color: white;
    font-weight: lighter;
    padding: calc(30px + 4rem) 0 30px 0;
    font-size: 55px;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }
  .contact .contactContent {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact .decOne {
    z-index: 0;
    position: absolute;
    top: -50px;
    right: 0;
  }
  .contact .contactImage {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    grid-area: 1/2/2/2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 2;
  }
  .contact .contactImage img {
    max-width: 650px;
    width: 100%;
  }
  .mobileHidden {
    visibility: visible;
    display: block;
  }
}

@media (min-width: 1020px) {
  .hero .heroContent .heroBio {
    font-size: 16px;
  }
}

@-webkit-keyframes slideshow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
}

@keyframes slideshow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
}
/*# sourceMappingURL=app.css.map */